body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:white;
    text-align: center;
    color: white;
    font-weight: bold;
    background-image: url("images/blackjack.webp");
    background-size:cover ;
    background-repeat: no-repeat;
}
h1{
    color: goldenrod;
}
#message-el{
    
    font-style: italic;    
}
#contianer{
    
    display: flex;
    align-items: flex-start;
    padding: 20px;
    justify-content:center;
}
#game-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 400px;  
}
#user{
    width: 100px;
    height: 400px;
   display: flex;
   flex-direction: column;
   align-items:center;
}
#opponent{
    width: 100px;
    height: 400px;
   display: flex;
   flex-direction: column;
   align-items:center;
}
input{
    background-image: url("images/green\ back.avif");
    color: goldenrod;
    width: 97px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
label{
    margin-bottom: 10px;
}
#user-btn{
    padding: 3px;
    width: 100px;
}
#opponent-btn{
    padding: 3px;
    width: 100px;
}
#help{
    width: 50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}
button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    display: block;
    margin: 3px auto;
}